/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-head@theftband/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-head@theftband/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-head@theftband/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-head@theftband/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-head@theftband/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-head@theftband/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-head@theftband/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-head@theftband/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../../.rvm/gems/ruby-1.9.2-head@theftband/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 4, ../../../../../../.rvm/gems/ruby-1.9.2-head@theftband/gems/compass-960-plugin-0.10.3/stylesheets/960/_text.sass */
body {
  font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

/* line 6, ../../../../../../.rvm/gems/ruby-1.9.2-head@theftband/gems/compass-960-plugin-0.10.3/stylesheets/960/_text.sass */
a:focus {
  outline: 1px dotted invert;
}

/* line 8, ../../../../../../.rvm/gems/ruby-1.9.2-head@theftband/gems/compass-960-plugin-0.10.3/stylesheets/960/_text.sass */
hr {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}

/* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-head@theftband/gems/compass-960-plugin-0.10.3/stylesheets/960/_text.sass */
h1 {
  font-size: 25px;
}

/* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-head@theftband/gems/compass-960-plugin-0.10.3/stylesheets/960/_text.sass */
h2 {
  font-size: 23px;
}

/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-head@theftband/gems/compass-960-plugin-0.10.3/stylesheets/960/_text.sass */
h3 {
  font-size: 21px;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-head@theftband/gems/compass-960-plugin-0.10.3/stylesheets/960/_text.sass */
h4 {
  font-size: 19px;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-head@theftband/gems/compass-960-plugin-0.10.3/stylesheets/960/_text.sass */
h5 {
  font-size: 17px;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-head@theftband/gems/compass-960-plugin-0.10.3/stylesheets/960/_text.sass */
h6 {
  font-size: 15px;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-head@theftband/gems/compass-960-plugin-0.10.3/stylesheets/960/_text.sass */
ol {
  list-style: decimal;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-head@theftband/gems/compass-960-plugin-0.10.3/stylesheets/960/_text.sass */
ul {
  list-style: square;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-head@theftband/gems/compass-960-plugin-0.10.3/stylesheets/960/_text.sass */
li {
  margin-left: 30px;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.2-head@theftband/gems/compass-960-plugin-0.10.3/stylesheets/960/_text.sass */
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 20px;
}

/* line 14, ../../app/assets/sass/style.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 18, ../../app/assets/sass/style.sass */
body {
  margin: 0;
  padding: 0 0 15px 0;
  background: black;
  color: white;
}

/* line 25, ../../app/assets/sass/style.sass */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 10px 0;
}

/* line 29, ../../app/assets/sass/style.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: Verdana;
}

/* line 32, ../../app/assets/sass/style.sass */
hr {
  color: #333333;
  border: 1px solid #121212;
}

/* line 36, ../../app/assets/sass/style.sass */
pre {
  height: auto;
  overflow-x: scroll;
}

/* line 40, ../../app/assets/sass/style.sass */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 45, ../../app/assets/sass/style.sass */
dd {
  padding-left: 15px;
}

/* line 48, ../../app/assets/sass/style.sass */
p {
  font-size: 9pt;
}

/* line 51, ../../app/assets/sass/style.sass */
a {
  color: #6598b8;
  text-decoration: none;
}
/* line 54, ../../app/assets/sass/style.sass */
a:hover {
  color: #7abbe4;
  text-decoration: underline;
}
/* line 57, ../../app/assets/sass/style.sass */
a img {
  border: none;
}

/* line 60, ../../app/assets/sass/style.sass */
ul {
  list-style-type: none;
}

/* line 63, ../../app/assets/sass/style.sass */
blockquote {
  background: #070707;
  border: 1px solid #060606;
  padding: 5px 15px;
  margin: 10px 10px 5px 15px;
  font-style: italic;
  color: white;
}

/* line 71, ../../app/assets/sass/style.sass */
code {
  color: #3366cc;
  font-style: italic;
}

/* line 75, ../../app/assets/sass/style.sass */
strong {
  font-size: 110%;
}

/* line 79, ../../app/assets/sass/style.sass */
#wrap {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 82, ../../app/assets/sass/style.sass */
#wrap #header {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
}
/* line 85, ../../app/assets/sass/style.sass */
#wrap #header h1 {
  font-size: 47px;
  text-align: center;
}
/* line 89, ../../app/assets/sass/style.sass */
#wrap #header h1 a, #wrap #header h1 a:hover {
  font-style: none;
  color: white;
}
/* line 93, ../../app/assets/sass/style.sass */
#wrap #main {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  margin-bottom: 10px;
}
/* line 97, ../../app/assets/sass/style.sass */
#wrap #main #band_photo {
  text-align: center;
}
/* line 100, ../../app/assets/sass/style.sass */
#wrap #footer {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  padding-top: 10px;
  border-top: 1px solid #cccccc;
  text-align: center;
}
/* line 107, ../../app/assets/sass/style.sass */
#wrap #footer ul li {
  display: inline;
  margin-right: 15px;
  font-size: 18px;
}

/* line 113, ../../app/assets/sass/style.sass */
table {
  padding: 20px;
  margin-top: 10px;
  width: 738px;
  background: #2e2e2e;
}
/* line 119, ../../app/assets/sass/style.sass */
table th, table td {
  padding: 10px;
}
/* line 122, ../../app/assets/sass/style.sass */
table th {
  background: #484848;
  font-weight: bold;
}

/* line 126, ../../app/assets/sass/style.sass */
p.date {
  margin-top: -15px;
}
