%div
  %div{:id => "c_p018zJ4ec3hHkP0Ki80XfsVxw=="}
    .ilike_content
      %ul.song_list_preview{:style => "list-style: none;"}
        %li.preview_border{:style => "overflow: hidden;"}
          %a.song_play_btn{:href => "http://www.ilike.com/artist/Theft/track/Never+Be+The+Same", :title => "Never Be The Same"} Never Be The Same
        %li.ilike_playlist_border.preview_border{:style => "overflow: hidden;"}
          %a.song_play_btn{:href => "http://www.ilike.com/artist/Theft/track/Breathing+Underwater", :title => "Breathing Underwater"} Breathing Underwater
        %li.ilike_playlist_border.preview_border{:style => "overflow: hidden;"}
          %a.song_play_btn{:href => "http://www.ilike.com/artist/Theft/track/Fireworks+Explode", :title => "Fireworks Explode"} Fireworks Explode
        %li.ilike_playlist_border.preview_border{:style => "overflow: hidden;"}
          %a.song_play_btn{:href => "http://www.ilike.com/artist/Theft/track/Collide", :title => "Collide"} Collide
        %li.ilike_playlist_border.preview_border{:style => "overflow: hidden;"}
          %a.song_play_btn{:href => "http://www.ilike.com/artist/Theft/track/The+Hard+Way", :title => "The Hard Way"} The Hard Way
    \ 
  %script{:src => "http://www.ilike.com/api/p?c=1&k=p018zJ4ec3hHkP0Ki80XfsVxw%3D%3D"}
  %div{:id => "ilike_p018zJ4ec3hHkP0Ki80XfsVxw=="}
    %div{:style => "border-top: 1px solid #dddddd; padding-top: 5px; font-size: smaller;"}
      %a{:href => "http://www.ilike.com/artist/Theft", :target => "_blank"} Theft
      on iLike -
      %a{:href => "http://www.ilike.com/download", :target => "_blank"} Get updates inside iTunes
%br/
%br/
[
%a{:href => "http://itunes.apple.com/us/album/breathing-underwater/id349941601"} Buy on iTunes
] | [
%a{:href => "http://amzn.com/B0038369LU"} Buy on Amazon
]