%p theft supports the following non-profit organizations.  we think you should to…
%p
  one campaign
  %br/
  %a{:href => "http://www.one.org", :style => "color: #1c51a8;", :target => "_blank"} www.one.org
%p
  %a{:href => "http://www.one.org"}
    %img.alignnone.size-full.wp-image-111{:alt => "www.one.org", :height => "90", :src => "http://www.theftspace.com/wp-content/uploads/2010/03/one-logo.gif", :title => "www.one.org", :width => "91"}/
%p
  she dances
  %br/
  %a{:href => "http://www.shedances.org", :style => "color: #1c51a8;", :target => "_blank"} www.shedances.org
%p
  %a{:href => "http://www.shedances.org"}
    %img.alignnone.size-full.wp-image-113{:alt => "www.shedances.org", :height => "240", :src => "http://www.theftspace.com/wp-content/uploads/2010/03/widget-shedances-240.jpg", :title => "www.shedances.org", :width => "200"}/
%p
  international justice mission
  %br/
  %a{:href => "http://www.ijm.org", :style => "color: #1c51a8;", :target => "_blank"} www.ijm.org
%p
  %a{:href => "http://www.ijm.org"}
    %img.alignnone.size-full.wp-image-112{:alt => "s29717379728_516029_3465", :height => "110", :src => "http://www.theftspace.com/wp-content/uploads/2010/03/s29717379728_516029_3465.jpg", :title => "http://www.ijm.org", :width => "130"}/
%p
  brain injury association of america
  %br/
  %a{:href => "http://www.biusa.org", :style => "color: #1c51a8;", :target => "_blank"} www.biusa.org
%p
  %a{:href => "http://www.biusa.org"}
    %img{:alt => "biaa", :height => "166", :src => "http://www.theftspace.com/wp-content/uploads/2010/03/biaa.gif", :title => "www.biusa.org", :width => "172"}/