%p theft supports the following non-profit organizations.  we think you should to…
%p
  one campaign
  %br/
  %a{:href => "http://www.one.org", :target => "_blank"} www.one.org
%p
  = link_to image_tag("supported/one-logo.gif"), "http://www.one.org"
%p
  she dances
  %br/
  %a{:href => "http://www.shedances.org", :target => "_blank"} www.shedances.org
%p
  = link_to image_tag("supported/widget-shedances-240.jpg"), "http://www.shedances.org", :target => "_blank"
%p
  international justice mission
  %br/
  %a{:href => "http://www.ijm.org", :target => "_blank"} www.ijm.org
%p
  = link_to image_tag("supported/s29717379728_516029_3465.jpg"), "http://www.ijm.org", :target => "_blank"
%p
  brain injury association of america
  %br/
  %a{:href => "http://www.biusa.org", :target => "_blank"} www.biusa.org
%p
  = link_to image_tag("supported/biaa.gif"), "http://www.biusa.org", :target => "_blank"