%h2 Videos
.topContent
  %object{:height => "413", :width => "746"}
    %param{:name => "movie", :value => "http://www.youtube.com/cp/vjVQa1PpcFNj3zzIugh6VL2uT5-hBqEkwB04HQRrMbw="}
    %embed{:height => "413", :src => "http://www.youtube.com/cp/vjVQa1PpcFNj3zzIugh6VL2uT5-hBqEkwB04HQRrMbw=", :type => "application/x-shockwave-flash", :width => "746"}
%h2 Favorites
.topContent
  %object{:height => "413", :width => "746"}
    %param{:name => "movie", :value => "http://www.youtube.com/cp/vjVQa1PpcFNj3zzIugh6VMERQHPLwlxqs3eImvhaDH4="}
    %embed{:height => "413", :src => "http://www.youtube.com/cp/vjVQa1PpcFNj3zzIugh6VMERQHPLwlxqs3eImvhaDH4=", :type => "application/x-shockwave-flash", :width => "746"}